.box {
    height: 200px;
    width: 200px;
    text-align: center;
    line-height: 190px;
}
.wrap{
    display: flex;
    height: 200px;
    width: 200px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg,
     #fb3 25%, #58a 0, #58a 50%,
    #fb3 0, #fb3 75%, #58a 0);
    background-size: 42.426406871px 42.426406871px;
}
.border-box{
    border: 10px solid hsla(0, 0%, 100%, .5);
    background-color: #fff;
    background-clip: padding-box;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 95px;
}
.stripe{
    background:linear-gradient(blue 50%, white 0);
    -webkit-background-size: 100% 30px;
    background-size: 100% 15.4%;
    color: red;
}
.stripe2{
    background: linear-gradient(45deg,
    #fb3 25%, #58a 0, #58a 50%,
    #fb3 0, #fb3 75%, #58a 0);
    background-size: 42.426406871px 42.426406871px;
}
.stripe3{
    background: repeating-linear-gradient(60deg, red, red 10px, yellow 0, yellow 20px);
}
.stripe4{
    background-color: #58a;
    background-image: repeating-linear-gradient(30deg,
    hsla(0, 0%, 100%, 0.1),
    hsla(0, 0%, 100%, 0.1) 15px,
    transparent 0,
    transparent 30px
    );
}
.stripe5{
    background-color: #58a;
   background-image: linear-gradient(90deg,rgba(200,0,0,0.1) 50%, transparent 0),
   linear-gradient(rgba(200,0,0,0.1) 50%, transparent 0);
    -webkit-background-size: 10px 10px;
    background-size: 10px 10px;
}
.stripe6{
    background-color: #58a;
    background-image: linear-gradient(90deg, white 1px, transparent 0),
    linear-gradient(white 1px, transparent 0);
    -webkit-background-size: 20px 20px;
    background-size: 20px 20px;
}
.stripe7{
    background-color: #58a;
    background-image: linear-gradient(90deg, white 1px, transparent 0),
    linear-gradient(white 1px, transparent 0),
    linear-gradient(90deg, pink 1px, transparent 0),
    linear-gradient(pink 1px, transparent 0);
    background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
}
@keyframes ants { to { background-position: 100% 100% } }

.stripe8 {
    padding: 1em;
    border: 1px solid transparent;
    background: linear-gradient(white, white) padding-box,
    repeating-linear-gradient(-45deg, black 0, black 25%, transparent 0, transparent 50%) 0 / .6em .6em;
    animation: ants 12s linear infinite;

    max-width: 20em;
    font: 100%/1.6 Baskerville, Palatino, serif;
}
/*.stripe8{*/
    /*border-top: .2em solid transparent;*/
    /*border-image: 100% 0 0 linear-gradient(90deg, currentColor 4em, transparent 0);*/
    /*padding-top: 1em;*/
/*}*/
